.page-header {
    border-bottom: 1px solid #FFFFFF;
    margin: 20px 0;
    padding-bottom: 9px;
    text-align: center;
    
}

.form-control {
    border: 1px solid #D6D6D6;
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    padding: 0px 15px;
}

.row {
    background: #356AA0;
    padding: 20px 50px 20px 50px;
    margin: 100px;
}

legend {
    border: medium none;
    color: #7F7F7F;
    display: block;
    font-size: 20px;
    line-height: inherit;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.btn {
    padding: 15px;
    border-radius: 0;
    border: none;
    font-size: 21px;
    background-color:#B02B2C;
    &:hover { background-color: #990606 }
}

.btn-small {
  font-size: 16px;
  padding: 5px;
}

body
{
background-image:url('http://i3.kym-cdn.com/photos/images/newsfeed/000/680/357/f17.gif');
background-repeat:repeat;
}

.form-control::-webkit-input-placeholder { font-size: 16px ; }